<h2>Angular 2+ Timetable</h2>

<ng-wf-timetable
  [scope]="scope"
  [schedules]="schedules"
  (eventClick)="eventClicked($event)">
</ng-wf-timetable>

<hr>
<h3>Add Schedule</h3>
<form>
  <label>Location Name: </label>
  <input type="text" name="locationName" [(ngModel)]="locationName">
  <br>
  <button
    [disabled]="!locationName"
    type="submit"
    (click)= "submitNewScheduleForm()">Add schedule</button>
</form>

<h3>Delete Schedule</h3>
<form>
  <label>Select schedule: </label>
  <select name="selectedSchedule" [(ngModel)]="selectedSchedule">
    <option *ngFor="let schedule of schedules" [ngValue]="schedule">{{schedule.location.name}}</option>
  </select>
  &nbsp;
  <button
    [disabled]="!this.selectedSchedule"
    type="submit"
    (click)= "deleteSchedule()">Delete schedule</button>
  &nbsp;
</form>

<h3>Add Event</h3>
<form>
  <label>Select schedule: </label>
  <select name="selectedSchedule" [(ngModel)]="selectedSchedule">
    <option *ngFor="let schedule of schedules" [ngValue]="schedule">{{schedule.location.name}}</option>
  </select>
  &nbsp;

  <label>Event Name: </label>
  <input type="text" name="eventname" [(ngModel)]="eventName" required>
  <br>
  <br>

  <label>Start Time: </label>
  <input type="time" min="08:00:00" max="15:55:00" value="09:00" required #eventStartTime>
  &nbsp;

  <label>End Time: </label>
  <input type="time" min="08:05:00" max="16:00:00" value="10:00" required #eventEndTime>
  &nbsp;

  <label>Color: </label>
  <input type="color" value='#6495ed' #eventColor>
  <br>

  <button
    [disabled]="!eventName"
    type="submit"
    (click)= "submitNewEventForm(eventStartTime.value, eventEndTime.value, eventColor.value)">Add Event</button>
</form>

<h3>Delete Event</h3>
Click on an event and confirm the dialog to delete it.
